.real-time-RT {
  background: white;
  padding: 15px; /* Reduced padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 60px;
  height: 395px;
}

.real-time-RT h3 {
  margin-bottom: 15px; /* Reduced margin */
}

.real-time-RT table {
  width: 100%;
  border-collapse: collapse;
}

.real-time-RT th, .real-time-RT td {
  padding: 8px; /* Reduced padding */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.real-time-RT th {
  background-color: #f9f9f9;
}

.highlight {
  background-color: yellow;
  border-radius: 5px;
  transition: background-color 1s ease;
}

.gauges {
  display: flex;
  justify-content: space-around;
  margin-top: 5px; /* Reduced margin */
}

.gauge {
  width: 24%; /* Adjusted width for smaller gauge bars */
  text-align: center;
  margin-right: 0; /* Add margin to control spacing between gauges */
  display: flex; /* Added flex display */
  flex-direction: column; /* Align children in a column */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
}

.gauge h4 {
  width: 120px;
  font-size: 14px; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Adjusted margin for better spacing */
  margin-top: 5px;
  margin-right: 5px;
}