.factory-layout {
  grid-column: span 3;
  background: white;
  width: 150vh;
  height: 47vh;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0.2, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensure content inside aligns to the left */
  margin-left: 69px; /* Align the element itself to the right */
}

.factory-layout h3 {
  margin-bottom: 20px;
}

.factory-layout .layout-placeholder {
  width: 90%;
  height: 35vh;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: 90px;
  margin-top: 20px;
  overflow: hidden; /* Ensure content respects the border radius */



}



.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  pointer-events: none;
  z-index: 1000;
}

.status-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.status-green {
  background-color: #00ff00;
}

.status-orange {
  background-color: #ffa500;
}

.status-red {
  background-color: #ff0000;
}